#main-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px 100px 100px 100px;
    gap: 5px;
    
}


#item1 {
    grid-column-start: 1;
    grid-column-end:5 ;
    background-color: rgb(80, 255, 159);
}
#item2 {
    grid-row-start: 2;
    grid-row-end: 2;
    background-color: cornflowerblue;
 }
#item3 {
    
        background-color:rgb(121, 255, 80);
}
#item4 {
    background-color:red;
}
#item5 {
    background-color:rgb(255, 80, 240);
}
#item6 {
    grid-column-start: 1;
    grid-column-end:3 ;
    background-color:blueviolet;
}
#item7 {
    grid-column-start: 3;
    grid-column-end:5 ;
    background-color:brown;
}
#item8 {
    grid-column-start: 1;
    grid-column-end:4 ;
    background-color:rgb(80, 255, 138);
}
#item9 {
    
    background-color:pink;
}
