header {
    background-color: lightblue;
    text-align: center;
    padding: 5px;
}

#main-container {
    background-color: pink;
    display: flex;
    grid-template-columns:1fr 1fr 1fr 1fr; 
    grid-template-rows: 100px 100px 100px 100px;
    gap: 5px;

}
#side-content {
 width:30%;

}
#photo-container{
 width: 70%;   
grid-template-columns:  repeat(auto-fit, munumax(150px, 1fr));
}




